@font-face {
   font-family: "Akhand-Bold";
   src: url("fonts/u261eAkhand Bold.woff") format("woff"), url("fonts/u261eAkhand Bold.eot") format("embedded-opentype"), url("fonts/u261eAkhand Bold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}